body {
	background-color: #333333;
}

p, a { color: #FFFFFF; }

.main {
	margin: 10px 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.slider {}

.meme {
	display: none;
	transition: 0.5s;
}

.meme_1 {}

.meme_2 {}

.meme_3 {}

.meme_4 {}

img {
	height: 100%;
}

.bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.captions {}

.caption {
	display: none;
	transition: 0.5s;
}

.controls {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: 5px;
}

input { display: none; }

.circle {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	border-width: 1px;
	border-color: ##66AAFF;
	background: ##66AAFF;
}

label {
	cursor: pointer;
	width: 20px;
	height: 20px;
}

label:checked .circle {
	border-color: ##66AAFF;
	background: transparent !important;
}

label:hover .circle {
	border-color: #FFFFFF;
	background: #FFFFFF;
}

.footer {
	margin: 10px 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


#dot_1:checked .meme_1 { display: block; }
#dot_1:not(:checked) .meme_1 { display: none; }

#dot_2:checked .meme_2 { display: block; }
#dot_2:not(:checked) .meme_2 { display: none; }

#dot_3:checked .meme_3 { display: block; }
#dot_3:not(:checked) .meme_3 { display: none; }

#dot_4:checked .meme_4 { display: block; }
#dot_4:not(:checked) .meme_4 { display: none; }


#dot_1:checked .caption_1 { display: block; }
#dot_1:not(:checked) .caption_1 { display: none; }

#dot_2:checked .caption_2 { display: block; }
#dot_2:not(:checked) .caption_2 { display: none; }

#dot_3:checked .caption_3 { display: block; }
#dot_3:not(:checked) .caption_3 { display: none; }

#dot_4:checked .caption_4 { display: block; }
#dot_4:not(:checked) .caption_4 { display: none; }